#sign-up_body{
    background-image: url('/assets/images/check-failed.png');
    height: 750px;
    background-size: cover;
    
}

.signup {
    background: #30a9fa;
    margin: 0px auto auto auto;
    width: 140px;
    height: 40px;
    text-align: center;
}

a {
    line-height: 40px;
    color: #fff;
}
